.card {
  width: 100%;
  height: 100%;
}
.card .card_header {
  width: 100%;
  height: 80px;
  display: flex;
}
.card .card_header .card_hd_left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card .card_header .card_hd_left .card_hd_l_top {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-title);
  width: 100%;
  height: 50%;
}
.card .card_header .card_hd_left .card_hd_l_bottom {
  width: 100%;
  height: 50%;
  color: #b5b5c3c0;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 12px;
}
.card .card_header .card_hd_right {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card .card_header .card_hd_right .btn {
  padding: 10px;
  margin: 10px;
  color: #b5b5c3;
  text-transform: capitalize;
  cursor: pointer;
}
.card .card_header .card_hd_right .btn:hover {
  color: var(--color-nav);
}
.card .card_header .card_hd_right .time_on_focus {
  background-color: var(--color-nav);
}
.card .card_main {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.card .card_main .item {
  width: 100%;
  height: 70px;
  display: flex;
  margin-bottom: 20px;
}
.card .card_main .item:first-child {
  margin-top: 20px;
}
.card .card_main .item:last-child {
  margin-bottom: 0;
}
.card .card_main .item .item_left {
  display: flex;
  width: 50%;
  height: 100%;
}
.card .card_main .item .item_left .item_logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card_main .item .item_left .item_logo .item_l_left {
  height: 50px;
  width: 50px;
  background-color: #f3f6f9;
  padding: 10px;
}
.card .card_main .item .item_left .item_l_right {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}
.card .card_main .item .item_left .item_l_right .item_title {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-end;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--color-title);
  padding-left: 10px;
  font-size: 15px;
}
.card .card_main .item .item_left .item_l_right .item_title:hover {
  cursor: pointer;
  color: var(--color-nav);
}
.card .card_main .item .item_left .item_l_right .item_status {
  width: 100%;
  height: 50%;
  text-transform: capitalize;
  font-weight: bold;
  color: #b5b5c3;
  padding-left: 10px;
  font-size: 14px;
}
.card .card_main .item .item_mid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  font-size: 14px;
  color: #b5b5c3;
  font-weight: bold;
}
.card .card_main .item .item_right {
  display: flex;
  width: 25%;
  height: 100%;
}
.card .card_main .item .item_right .item_total_user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 14px;
  color: #b5b5c3;
  font-weight: bold;
}
.card .card_main .item .item_right .btn_wrap {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.card .card_main .item .item_right .btn_wrap .item_btn {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 7px;
  background-color: #f3f6f9;
}
.card .card_main .item .item_right .btn_wrap .item_btn:hover {
  background-color: #c2c8ce;
}

/*# sourceMappingURL=NewArrivals.module.css.map */
