@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fullWidthHeight {
  width: 100%;
  height: 100%;
}

.card {
  @include fullWidthHeight();
  // card header
  // card header
  // card header
  .card_header {
    height: 80px;
    width: 100%;

    display: flex;

    .card_hd_left {
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 100%;
      background-color: powderblue;
      .card_hd_title {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50%;
        background-color: rosybrown;
        text-transform: capitalize;
        font-weight: bold;
        color: var(--color-title);
        font-size: 18px;
      }
      .card_hd_statistical {
        width: 100%;
        height: 50%;
        background-color: royalblue;
      }
    }
    .card_hd_right {
      display: flex;
      width: 30%;
      height: 100%;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      .three_dot_wrapper {
        height: 50px;
        width: 50px;
        padding: 13px;
        border-radius: 8px;
        &:hover {
          cursor: pointer;
          background-color: #f3f6f9;
        }
      }
    }
  }
  // card main
  // card main
  // card main
  .card_main {
    min-height: 300px;
    width: 100%;
    background-color: plum;
    @include flexCenter();
    .chart {
      height: 200px;
      width: 200px;
      background-color: saddlebrown;
    }
  }
  // card footer
  // card footer
  // card footer
  .card_footer {
    min-height: 201px;
    width: 100%;

    @include flexCenter();
    flex-wrap: wrap;
    .card_ft_item {
      height: 50px;
      width: 50%;

      @include flexCenter();
      .card_ft_item_left {
        width: 28%;
        height: 50px;
        background-color: seagreen;
        @include flexCenter();
        border-radius: 8px;
      }
      .card_ft_item_right {
        width: 70%;
        height: 50px;

        display: flex;
        flex-direction: column;
        .card_ft_item_r_top {
          width: 100%;
          height: 50px;

          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 10px;
          font-weight: bold;
          color: var(--color-title);
          font-size: 18px;
        }
        .card_ft_item_r_bottom {
          width: 100%;
          height: 50px;

          justify-content: flex-start;
          align-items: center;
          padding-left: 10px;
          font-weight: 500;
          color: #b5b5c3 !important;
          font-size: 15px;
        }
      }
    }
  }
}
