.card {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;

  // card header
  // card header
  // card header
  .card_header {
    display: flex;
    width: 100%;
    height: 10%;

    .card_hd_left {
      width: 80%;
      display: flex;
      align-items: center;

      color: #b8bccc;
      text-transform: capitalize;
      font-size: 15.5px;
      font-weight: 500;
    }
    .card_hd_right {
      width: 20%;

      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        height: 50px;
        width: 50px;
        background-color: var(--color-user-type-4);
        padding: 10px;
        border-radius: 7px;
      }
    }
  }
  // card main
  // card main
  // card main
  .card_main {
    display: flex;
    width: 100%;
    height: 75%;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .card_m_title {
      height: 45%;
      width: 60%;

      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: var(--color-title);
      transition: 0.13s;
      &:hover {
        cursor: pointer;
        color: var(--color-nav);
      }
    }
    .card_m_content {
      height: 55%;
      width: 92%;
      color: #7e8299;
      font-size: 16px;
    }
  }
  // card footer
  // card footer
  // card footer
  .card_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;

    .card_ft_user {
      height: 70%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .virtual_user {
        margin-right: 10px;
        height: 50px;
        width: 50px;
        background-color: var(--color-user-type-4);
        padding: 10px;
        border-radius: 7px;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
